.cache
.config/**/roles
.env
.mega-linter.yml
.task
.vscode
*.log
*.tar
*.tgz
*megalinter*.txt
/*.sh
megalinter-reports
**/node_modules
tests/e2e/codeceptjs/output
tests/e2e/codeceptjs/screenshots/diff
tmp
venv
