{
  "$schema": "https://docs.renovatebot.com/renovate-schema.json",
  "extends": [
    "config:recommended",
    ":semanticCommits",
    ":semanticCommitTypeAll(fix)"
  ],
  "onboarding": false,
  "requireConfig": "optional",
  "prConcurrentLimit": 1,
  "semanticCommits": "enabled",
  "semanticCommitType": "fix",
  "semanticCommitScope": "deps",
  "dependencyDashboard": true,
  "enabledManagers": ["regex"],
  "regexManagers": [
    {
      "fileMatch": [
        "^\\.config/devsecops/\\.copier-answers\\.yml$"
      ],
      "matchStrings": [
        "^_src_path:\\s*https:\\/\\/gitlab\\.com/digital-commons/devsecops/tools/the-devsecops-plugin\\.git[\\s\\S]*?^_commit:\\s*\"?(?<currentValue>[^\"\\n]+)\"?$"
      ],
      "datasourceTemplate": "git-tags",
      "depNameTemplate": "https://gitlab.com/digital-commons/devsecops/tools/the-devsecops-plugin.git"
    }
  ]
}
